body {
    // font-family: Arial;
    // overflow-y: hidden;
}

.analyzer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding-top: 2rem;
}

.analyzer-loader {
    &__container {
        width: 15rem;
        height: 7rem;
        border: 1px solid lightgray;
        border-radius: .75rem;
        padding: .75rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
        position: relative;
        background-color: #000000;
    }

    &__wrapper {
        // opacity: 0;
        // animation: fade-in .5s ease-in forwards;
        position: relative;
    }

    &__placeholder {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: inherit;
    }

    &__loading-block {
        display: flex;
        flex-direction: row;
        padding: .3rem .5rem;
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 2s loading-placeholder linear infinite;
        height: 1rem;
        width: 100%;
    }
}

.sev-high {
    background-color: #ff00001e;
}

.sev-medium {
    background-color: #ffcc0031;
}

.sev-low {
    background-color: #00aeff3b;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.summary-container {
    max-height: 78.2vh;
    max-width: 40vw;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #474747;
    border-radius: .5rem;
}

.summary {
    border-radius: 8px;
    padding: 1rem;
}

.summary-total {
    text-align: left;
}

.summary.good {
    background-color: #00ff3c2b;
    height: -webkit-fill-available;
}

.summary.bad {
    background-color: #ff00001e;
    height: -webkit-fill-available;
}

.entity-row {
    cursor: pointer;

    &:hover {
        filter: brightness(1.5);
    }

    &--selected {
        background: #000;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    word-break: break-all;
}

th {
    background: #63636361;
}

.entries-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entries-filters {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.entries-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;
    margin: auto;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: .5rem;
}

.entry {
    margin: .5rem 0;
    width: -webkit-fill-available;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #474747;
    border-radius: .5rem;
    word-wrap: break-word;
    text-align: left;
}

.entry-finding-sev-high {
    color: #d9534f;
    font-weight: bold;
}

.entry-finding-sev-medium {
    color: #f0ad4e;
    font-weight: bold;
}

.entry-finding-sev-low {
    color: #5bc0de;
    font-weight: bold;
}

.sev-label-high {
    color: #d9534f;
    font-weight: bold;
}

.sev-label-medium {
    color: #f0ad4e;
    font-weight: bold;
}

.sev-label-low {
    color: #5bc0de;
    font-weight: bold;
}