@import '../pages/Login/login.scss';
@import '../pages/Home/analyzer.scss';

.page {
    &__header {

        &-title {
            font-weight: normal;
            width: 82vw;
        }

        &-subtitle {}
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &--dark {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #1E1F21;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &--dark {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            background-color: #1E1F21;
        overflow: hidden;
    }
    }
}

@media only screen and (max-width: 640px) {
    .page {
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 9vh;
            min-height: 80vh;
            position: relative;
            margin-left: 0;

            &--dark {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 9vh;
                min-height: 80vh;
                position: relative;
                margin-left: 0;
                background-color: #1E1F21;
            }
        }

        &__header {
            &-title {
                width: 90vw;
            }
        }
    }
}